# Database Configurations
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=micommerce
DB_PORT=5432
DB_SSLMODE=disable

# Service Configurations
PORT=8080

# Payment Gateways (Optional)
# XENDIT_SECRET_KEY=xnd_development_...
